/* #region debug */
.debug nav {
    background-color: aqua;
    /* height: 50px; */
}

.debug header {
    background-color: blue;
    /* height: 100px; */

}

.debug main {
    /* background-color: lightgrey;
    height: 900px; */
}

.debug footer {
    background-color: rgba(0, 0, 0, 0.905);
    /* height: 300px; */
}

/* #endregion debug */

/* #region Common */
body {
    margin: 0;
}

nav {
    padding: 0.5rem 0;
}

header {
    padding: 1rem 4rem;
}

/* #endregion Common */

/* #region Utilities */
.flex-container {
    display: flex;
    width: 70%;
    margin: auto;

}

.pdd-1-0 {
    padding: 1rem 0;
}

.reverse {
    flex-direction: row-reverse;
}

/* #endregion Utilities */
/* #region Header */

.top-navigator {
    justify-content: space-between;
    background-color: blueviolet;

}

.top-banner {
    background-color: pink;
    justify-content: center;
    height: 9rem;
    align-items: center;
}
/* #endregion Header */

/* #region Main */
.first-content {
    background-color: dodgerblue;
    height: 25rem;
    flex-grow: 3;
}

.second-content {
    background-color: pink;
    flex-grow: 2;
}

.first-section {
    background-color: white;
}

.second-section {
    background-color: lightgrey;
}

.third-section {
    background-color: white;
}

.fourth-section {
    background-color: lightgrey;
}


.primary-content {
    background-color: rgb(16, 92, 4);
    justify-content: center;
    height: 40rem;
    align-items: center;
}
/* #endregion Main */

/* #region Footer */
.bottom-credits {
    flex-grow: 2;
    background-color: red;
    height: 350px;
}

.bottom-contacts {
    flex-grow: 1;
    background-color: aqua;
    border-left: 1px solid black;
}

.bottom-banner {
    justify-content: space-between;
    background-color: aqua;
    padding: 0.5rem 0;
}
/* #endregion Footer */