/* #region debug */
.debug nav {
    background-color: aqua;
    /* height: 50px; */
}

.debug header {
    background-color: blue;
    /* height: 100px; */

}

.debug main {
    /* background-color: lightgrey;
    height: 900px; */
}

.debug footer {
    background-color: rgba(0, 0, 0, 0.905);
    /* height: 300px; */
}

/* #endregion debug */

/* #region Common */
body {
    margin: 0;
}

nav {
    padding: 0.5rem 0;
}

/* #endregion Common */

/* #region Utilities */
.flex-container {
    display: flex;
    width: 70%;
    margin: auto;

}
.pdd-1-0{
    padding: 1rem 0;
}

/* #endregion Utilities */

.top-navigator {
    justify-content: space-between;
    background-color: blueviolet;

}

.top-banner {
    background-color: pink;
    justify-content: center;
    height: 9rem;
    align-items: center;
}

header {
    padding: 1rem 4rem;
}

.first-section {
    background-color: white;
}

.first-content {
    background-color: dodgerblue;
    height: 15rem;
    width: 60%;
}

.second-content {
    background-color: pink;
    height: 15rem;
    width: 40%;
}

.second-section {
    background-color: lightgrey;
}
.reverse{
    flex-direction: row-reverse;
}
.third-section {
    background-color: white;
}

.primary-content {
    background-color: green;
}

.fourth-section {
    background-color: lightgrey;
}

.primary-content{
    background-color: rgb(16, 92, 4);
    justify-content: center;
    height: 35rem;
    align-items: center;
}

.bottom-credits{
    flex-grow: 2;
    background-color: red;
    height: 350px;
}

.bottom-contacts{
    flex-grow: 1;
    background-color: aqua;
    border-left: 1px solid black;
}
