/* #region debug */
.debug nav {
    background-color: aqua;
    /* height: 50px; */
}

.debug header {
    background-color: blue;
    /* height: 100px; */

}

.debug main {
    /* background-color: lightgrey;
    height: 900px; */
}

.debug footer {
    background-color: darkgreen;
    height: 300px;
}

/* #endregion debug */

/* #region Common */
body {
    margin: 0;
}

nav{
    padding: 0.5rem 0;
}
/* #endregion Common */

/* #region Utilities */
.flex-container {
    display: flex;
    width: 70%;
    margin: auto;

}
/* #endregion Utilities */

.top-navigator {
    justify-content: space-between;
    background-color: blueviolet;

}

.top-banner{
    background-color: pink;
    justify-content: center;
    height: 9rem;
    align-items: center;
}

header{
    padding: 1rem 4rem;
}

.first-section{
    background-color: white;
    padding: 1rem 0;
}

.first-content{
    background-color: dodgerblue;
    height: 15rem;
    width: 60%;
}

.second-content{
    background-color: pink;
    height: 15rem;
    width: 40%;
}

.second-section{
    background-color: lightgrey;
    padding: 1rem 0;
}
.third-section{
    background-color: white;
    padding: 1rem 0;
}